<div id="header">
      <a class="logo "href="#"><img src="/images/3034007-inline-i-applelogo.webp" alt=""></a>
    <div>
      <ul id="navbar">
        <li><a href="/home">Home</a></li>
        <li><a href="/auth/login">Login/Sign Up</a></li>
        <li><a href="/aboutUs">About Us</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/cart/shopping-cart"><i class="fa-solid fa-bag-shopping"></i></a></li>
      </ul>
    </div>
        <div id="mobile">
          <a href="/cart/shopping-cart"><i class="fa-solid fa-bag-shopping"></i></a>
          <i id="bar" class="fas fa-bars"></i>
        </div>
    </div>


<div id="page-header">
 <div class="about-header"> 
<h2>Know Us</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
</div>
</div>

<div id="about-head">
    <div>
        <img src="../images/churchimg.webp" alt="">
    </div>
    <div>
        <h2>Who We Are?</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim reprehenderit omnis cupiditate quibusdam nam rerum hic doloremque autem quaerat commodi! Molestiae, odit deserunt veniam, delectus non doloribus commodi sunt aperiam vero cupiditate eum corrupti quia recusandae ullam accusantium atque ut libero? Iusto laudantium, autem animi earum minus quos fugit voluptatem. Lorem ipsum dolor sit amet consectetur adipisicing elit. A et nihil atque quos officia excepturi modi sed, nulla, quia nostrum consectetur voluptatum vel repudiandae iure eius, aperiam voluptatibus molestiae aut? Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima ex dolorem enim pariatur nemo? Magnam laborum quo iusto. Tenetur earum nisi perspiciatis voluptates, architecto quisquam natus unde mollitia, necessitatibus dignissimos impedit nobis rem reiciendis possimus quaerat temporibus eos hic consectetur.</p>
        <br><br>

        <marquee bgcolor="#ccc" loop="-1" scrollamount="5" width="100%">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero recusandae natus similique exercitationem ex mollitia sapiente eveniet est laboriosam dolorum!</marquee>
    </div>

</div>