<div id="header">
    <a class="logo "href="#"><img src="../images/logo.jpg" alt="logo"></a>
    <div>
      <ul id="navbar">
        <li><a href="/home">Home</a></li>
        <li><a href="/auth/login">Login/Sign Up</a></li>
        <li><a href="/aboutUs">About Us</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/cart/shopping-cart"><i class="fa-solid fa-bag-shopping"></i></a></li>
      </ul>
    </div>
        <div id="mobile">
          <a href="/cart/shopping-cart"><i class="fa-solid fa-bag-shopping"></i></a>
          <i id="bar" class="fas fa-bars"></i>
        </div>
    </div>


<div class="page-header">
    <div class ="about-header">
        <h1>Know Us</h1>
        <p>Asamblea Evangelica de North Miami</p>
    </div>

<div id="about-head">
    <div>
        <img src="../images/church.png" alt="">
    </div>
    <div>
        <h2>Who We Are?</h2>
        <p>After approximately a year and a half ministering in the area, the brothers Rafael Olivo and José E. Cabral were recognized by the nascent Church as elders or pastors of the new congregation and confirmed with the imposition of hands by the missionary Francisco Escarramán who ministers at the service of the Assembly in South Florida. A few months later the Holy Supper service began, thus renting the premises for another day, this time, on Sunday afternoons, we were there until April 2009 when brother Rafael Miro from the Hialeah Assembly informed us of a local Anglo-Saxon brothers that was unoccupied near the area of ​​our ministry, after praying we spoke with brother Ronald Ward, manager of the local and one of the pastors of "Arch Creek Bible Chapel”, reaching an agreement with him, to rent the facilities with an option to buy. In June of that same year, we were moving. At present we have a membership of around 65 brothers, many of them baptized in the course of these years that we have been in ministry.</p>
        <br><br>

        <marquee bgcolor="#ccc" loop="-1" scrollamount="5" width="100%">John 14:6 Jesus answered, “I am the way and the truth and the life. No one comes to the Father except through me.</marquee>
    </div>

</div>

<div class="about-app">
<h1>Check Our <a href="https://inpc.app/nMnG">App</a> </h1>
<div class="appImg">
<img src="../images/app.JPG" alt="app">
</div>
</div>