<div id="header">
      <a class="logo "href="#"><img src="../images/logo.jpg" alt=""></a>
    <div>
      <ul id="navbar">
        <li><a href="/home">Home</a></li>
        {{#if isNotLoggedIn}}
        <li><a href="/auth/login">Login/Sign Up</a></li>
        {{/if}}
        <li><a href="/aboutUs">About Us</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/cart/shopping-cart"><i class="fa-solid fa-bag-shopping"></i></a></li>
        {{#if isLoggedIn}}
        <li><a href="/auth/logout">Log Out</a></li>
        <li><a href="/auth/account">My Account</a></li>
        {{/if}}
      </ul>
    </div>
        <div id="mobile">
          <a href="/cart/shopping-cart"><i class="fa-solid fa-bag-shopping"></i></a>
          <i id="bar" class="fas fa-bars"></i>
        </div>
    </div>


<div class="center">


<h1 >Welcome {{isLoggedIn.username}}</h1>



<div class="account-txt-field">
  <h3>Personal information</h3>
  <br>
  <p>Username: {{isLoggedIn.username}}</p>
  <p>Password: *******</p>
  <br>
  <div id="account-button">
  <a href="/auth/change-info" ><i class="fa-solid fa-user-pen"></i>Edit</a>
 <form action="/auth/delete" method="post">
 <button class="button" type="submit">Delete</button>
 </form>
 </div>
</div>
</div>