<h1>login</h1>

<form action="/auth/logIn" method="post" class="logIn">

  <div>
    <label for="username">Username</label>
  </div>

  <div>
    <input type="text" name="userame" id="username"/>
  </div>

  <br />

  <div>
    <label for="passwordInput">Password</label>
  </div>
  <div>
    <input type="password" name="password" id="passwordInput"/>
  </div>

  <br />
  <button type="submit" class="button">Log in</button>

<br>

{{#if errorMessage}}
<p style="color: red;">{{errorMessage}}</p>
{{/if}}



</form>