<div id="header">
    <a class="logo "href="#"><img src="../images/logo.jpg" alt="logo"></a>
    <div>
      <ul id="navbar">
        <li><a href="/home">Home</a></li>
        {{#if isNotLoggedIn}}
        <li><a href="/auth/login">Login/Sign Up</a></li>
        {{/if}}
        <li><a href="/aboutUs">About Us</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/cart/shopping-cart"><i class="fa-solid fa-bag-shopping"></i></a></li>
        {{#if isLoggedIn}}
        <li><a href="/auth/logout">Log Out</a></li>
        <li><a href="/auth/account">My Account</a></li>
        {{/if}}
      </ul>
    </div>
    </div>

    <div class="page-header">
    <div class ="about-header">
        <h1>Contact Us</h1>
        <p>Asamblea Evangelica de North Miami</p>
    </div>
<div id="contact-details">
<div class="details">
    <span>GET IN TOUCH</span>
    <h2>Visit our location or get in contact with us</h2>
    <div>
        <li>
            <i class="fa-regular fa-map"></i>
            <p>13740 NE 20th Pl, North Miami Beach, FL 33181, USA</p>
        </li>
        <li>
            <i class="fa-regular fa-envelope"></i>
            <p>email@email.com</p>
        </li>
        <li>
            <i class="fa-solid fa-phone"></i>
            <p>111 222 3333</p>
        </li>
        
    </div>
</div>
<div class="map">
   <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4122.502739200746!2d-80.16457451900497!3d25.907420431349543!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88d9ad8ef11caa19%3A0x45f7ea6e5eba4a62!2s13740%20NE%2020th%20Pl%2C%20North%20Miami%20Beach%2C%20FL%2033181!5e0!3m2!1sen!2sus!4v1669876104261!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>

</div>