<div id="header">
    <div class="icon">
        <a href="/auth/login"><i class="fa-solid fa-arrow-left"></i></a>
    </div>
    </div>

<div class="center">

<div class="errorMessage">
{{#if errorMessage}}
<p style="color: red;">{{errorMessage}}</p>
{{/if}}
</div>

<h1>SIGN UP</h1>

<form action="/auth/signup" method="post" class="signup">

  <div class="txt-field">
    <input type="text" name="username" id="username" placeholder="Username"/>
    {{!-- <span></span>
    <label for="username">Username</label> --}}
  </div>

  

  <div class="txt-field">
    <input type="password" name="password" id="passwordInput" placeholder="Password"/>
    {{!-- <span></span>
   <label for="passwordInput">Password</label> --}}
  </div>

  
  <button type="submit" class="button">Sign Up</button>


<div class="signup-link">
<p>Already Have an Account? <span><a href="/auth/login">Log In</a></span></p>
</div>



</form>
</div>
