body {
  width: 100%;
}

h1 {
  font-size: 50px;
  line-height: 64px;
  color: black;
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: black;
}

h4 {
  font-size: 20px;
  color: black;
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

p {
  font-size: 16px;
  color: #acb2c1;
  margin: 15px 0 20px 0;
}

.section-p1 {
  padding: 40px 80px
}

.section-m1 {
  margin: 40px 0
}

/* Header */

#header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background: white;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
}

#navbar{
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar li{
  list-style: none;
  padding: 0 20px;
}

#navbar li a{
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: black;
}

#mobile {
  display: none;
  align-items: center;
}

#product1 {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  flex-wrap: wrap;
}

/* shop */

.product-home {
  width: 23%;
  min-width: 250px;
  padding: 10px 12px;
  border: 1px solid gainsboro;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  margin: 15px 0;
  transition: 0.2s ease;
  position: relative;

  
  
}

.product-home img {
  width: 100%;
  height: 350px;
  border-radius: 20px;

}

.description {
  text-align: start ;
  padding: 10px 0;
}

.description  h5{
  padding-top: 7px;
  color: #1a1a1a;
  font-size: 14px

}

.description h4 {
  padding-top: 7px;
  font-size: 15px;
  font-weight: 700;
  color: #36517c;
}

.description i {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.description a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50px;
  background-color: rgb(228, 241, 254);
  font-weight: 500;
  color: #36517c;
  border: 1px solid #ececec;
  position: absolute;
  bottom: 20px;
  right: 10px;
}


.product-home:hover {
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}




.logo img {
  width: 70px;
  
}

/* index page */

.body {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(12,3,51,0.3), rgba(12,3,51,0.3));
  position: relative;
  padding: 0 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.body .content{
  text-align: center;
  
}

.content h1 {
  font-size: 160px;
  color: #fff;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
}

.content a {
  text-decoration: none;
  display: inline-block;
  color: white;
  font-size: 24px;
  border: 2px solid #fff;
  padding: 14px 70px;
  border-radius: 50px;
  margin-top: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
}

.content a:hover {
  background-color: white;
  color: black;
  cursor: pointer;
  outline: none;
  transition: .3s;
}

.back-video{
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}


.text-header {
  background: rgba(31, 58, 147,0.8);
  width: 100%;
  height: 20vh;
  background-blend-mode: darken;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}

.text-header h1{
  color: white;
  
}

#product {
  display: flex;
  margin-top: 100px;
}

#product .product-img {
  width: 40%;
  margin-right: 50px;
  
  
  
}

 .icon a{
  text-decoration: none;
  font-size: 30px;
  font-weight: 600;
  color: black;
}

 #shiping .icon a{
  text-decoration: none;
  font-size: 30px;
  font-weight: 600;
  color: black;
  margin-bottom: 10%;
}

#product .product-info {
  width: 50%;
  padding-top: 30px;
  
}

#product .product-info h4{
  padding: 40px 0 20px 0;
}

#product .product-info h2{
  font-size: 26px;
}

#product .product-info select{
  display: block;
  padding: 5px 10px;
  margin-bottom: 10px;
}

#product .product-info input {
  width: 50px;
  height: 47px;
  padding-left: 10px;
  font-size: 16px;
  margin-right: 10px;
}

#product .product-info input:focus {
  outline: none;
}

#product .product-info a{
  padding: 10px;
  text-decoration: none;
  border: 1px solid;
  background-color: rgba(31, 58, 147,0.8);
  border-radius: 25px;
  font-size: 18px;
  color: white;
  font-weight: 700;
  cursor: pointer;
  outline: none;
}

#product .product-info a:hover{
  background-color: white;
  color: rgba(31, 58, 147,0.8);
}



#product .product-info p{
  line-height: 25px;
}

/* cart page */

#cart{
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
}

#cart table{
  margin-top: 50px;
  width: 85%;
  border-collapse: collapse;
  table-layout: fixed;
  white-space: nowrap;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#cart table img{
  width: 70px;
}

#cart table td:nth-child(1){
  width: 100px;
  text-align: center;
}
#cart table td:nth-child(2){
  width: 150px;
  text-align: center;
}
#cart table td:nth-child(3){
  width: 230px;
  text-align: center;
}
#cart table td:nth-child(4), 
#cart table td:nth-child(5),
#cart table td:nth-child(6),
#cart table td:nth-child(7){
  width: 125px;
  text-align: center;
}

#cart table thead {
  border: 2px solid #36517c;
  /* border-left: none;
  border-right: none; */
}

#cart table thead td{
  font-weight: 700;
  text-transform: uppercase;
  font-size: 15px;
  padding: 18px 0;
}

#cart table tbody tr td {
  padding-top: 15px;
}

#cart table tbody td{
  font-size: 18px;
  
  
}



.keepShopping a{
  text-decoration: none;
  display: inline-block;
  color: rgba(31, 58, 147,0.8);
  font-size: 24px;
  border: 2px solid rgba(31, 58, 147,0.8);
  padding: 14px 14px;
  border-radius: 50px;
  margin-top: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
}

.keepShopping a:hover{
  background-color: rgba(31, 58, 147,0.8);
  color: white;
  cursor: pointer;
  outline: none;
  transition: .3s;
}

#subtotal {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  /* margin-right: 10px; */
  position: absolute;
  top: 60%;
  left: 80%;
  transform: translate(-50%, -50%);
  
  
}

#subtotal table{
  border-collapse: collapse;
  margin-bottom: 20px;

  
}



#subtotal table td{
  width: 300px;
  border: 2px solid #adadad;
  padding: 10px;
  font-size: 18px;
}

#subtotal h3{
  padding-bottom: 15px;
}

#subtotal .checkout-button{
  padding: 15px;
  text-decoration: none;
  border: 1px solid;
  background-color: rgba(31, 58, 147,0.8);
  border-radius: 25px;
  font-size: 18px;
  color: white;
  font-weight: 700;
  cursor: pointer;
  outline: none;

}

#subtotal .checkout-button:hover{
  background-color:#36517c;
  transition: .3s;
}

#subtotal a{
  text-decoration: none;
  color: white;
}

#shipping {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
  border: 3px solid #36517c;
  border-radius: 3%;
  padding: 5%;
  
}

#shipping button{
  background-color: #36517c ;
  border: none;
  color: white;
  padding: 10px;
  
}

#shipping h1{
  border: 2px;
  text-transform: uppercase;
}

#message {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 700px;
}

/* about page */



.about-header{
  background: rgb(251,219,101);
  height: 20vh;
  background-blend-mode: darken;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}

.about-header h1{
  color: white;
}

#about-head {
  display: flex;
  align-items: center;
  width: 100%;
}

#about-head img {
  width: 100%;
  height: auto;
}

#about-head div{
  margin-top: 50px;
  padding-left: 40px;
  width: 70%;
  margin-right: 70px;
  margin-bottom: 10%;
}

.about-app{
  text-align: center;
  background-color: #f6f6f6;

}

.about-app a{
  text-decoration: none;
  color: rgba(31, 58, 147,0.8);
}

.about-app a:hover {
  color: #36517c;
}

.about-app .appImg{
  width: 70%;
  height: 100%;
  margin: 30px auto 0 auto;

}

.about-app .appImg img{
  width: 30%;
  height: 30%;
  border-radius: 20px;
}

/* contact page */

#contact-details{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  
  
}

#contact-details .map{
 margin-top: 100px;

}

#contact-details .details{
  width: 40%;
 
}

#contact-details .details span{
  font-size: 20px;

}

#contact-details .details h2{
  font-size: 26px;
  line-height: 35px;
  padding: 20px 0;
}

#contact-details .details li{
  list-style: none;
  display: flex;
  padding: 10px 0;
  
}

#contact-details .details li i{
  font-size: 25px;
  padding-right: 22px;
  color: #adadad;
}

#contact-details .details li p{
  margin: 0;
  font-size: 25px;
}

/* login/signup */

.body{
  margin: 0;
  padding: 0;
  font-family: montserrat;
  height: 100vh;
  overflow: hidden;
}

.center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background: white;
  border-radius: 10px;

}

.center h1{
  text-align: center;
  padding: 0 0 20px 0;
  border-bottom: 1px solid silver;
}

.center form{
  padding: 0 40px;
  box-sizing: border-box;
}

form .txt-field{
  position: relative;
  border-bottom: 2px solid #adadad;
  margin: 30px 0;
}

.txt-field input{
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
}

.txt-field label {
  position: absolute;
  top: 50px;
  left: 5px;
  color: #adadad;
  transform: translateY(-50%);
  pointer-events: none;
}

/* .txt-field span::before{
  content: '';
  position: absolute;
  top: 40px;
  left: 0;
  width: 0%;
  height: 2px;
  background:rgba(31, 58, 147,0.8);
  transition: .5s;
} */

/* .txt-field input:focus ~ label,
.txt-field input:focus ~ label{
  top: -5px;
  color: rgba(31, 58, 147,0.8);

} */

/* .txt-field input:focus ~ span::before,
.txt-field input:focus ~ span::before{
 width: 100%;

} */

.button{
  width: 100%;
  height: 50px;
  border: 1px solid;
  background-color: rgba(31, 58, 147,0.8);
  border-radius: 25px;
  font-size: 18px;
  color: white;
  font-weight: 700;
  cursor: pointer;
  outline: none;
}

.button:hover{
  background-color:#36517c;
  transition: .5s;
}

.signup-link{
  margin: 30px 0;
  text-align: center;
  font-size: 16px;
  color: #666666;
}

.signup-link a{
  color: #2691d9;
  text-decoration: none;
  font-weight: 500;
}

.signup-link a:hover{
  color:#36517c ;
}

.errorMessage {
  text-align: center;
  font-weight: 700;
}

@media (max-width:799px) {
  #navbar{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: -300px;
    height: 100vh;
    width: 300px;
    background-color: white;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.06);
    padding: 80px 0 0 10px
  

  }

  #navbar.open{
    right: 0px;
    z-index: 10;
  }
  
  #navbar li {
    margin-bottom: 25px;
    text-decoration: none;
  }
  #mobile {
    display: flex;
    align-items: center;
  }

  #mobile i {
    color: black;
    font-size: 24px;
    padding-left: 20px;
  }

  .product-home img {
    width: 100%;
    height: 250px;
    border-radius: 20px;
  
  }

  #contact-details{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    
    

}

@media (min-aspect-ratio: 16/9){
  .back-video{
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9){
  .back-video{
    width: auto;
    height: 100%;
  }
}