body {
  width: 100%;
}

h1 {
  font-size: 50px;
  line-height: 64px;
  color: black;
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: black;
}

h4 {
  font-size: 20px;
  color: black;
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

p {
  font-size: 16px;
  color: #acb2c1;
  margin: 15px 0 20px 0;
}

.section-p1 {
  padding: 40px 80px
}

.section-m1 {
  margin: 40px 0
}

/* Header */

#header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background: white;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
}

#navbar{
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar li{
  list-style: none;
  padding: 0 20px;
}

#navbar li a{
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: black;
}

#mobile {
  display: none;
  align-items: center;
}

#product1 {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  flex-wrap: wrap;
}

/* shop */

.product-home {
  width: 23%;
  min-width: 250px;
  padding: 10px 12px;
  border: 1px solid gainsboro;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  margin: 15px 0;
  transition: 0.2s ease;
  position: relative;

  
  
}

.product-home img {
  width: 100%;
  border-radius: 20px;

}

.description {
  text-align: start ;
  padding: 10px 0;
}

.description  h5{
  padding-top: 7px;
  color: #1a1a1a;
  font-size: 14px

}

.description h4 {
  padding-top: 7px;
  font-size: 15px;
  font-weight: 700;
  color: #36517c;
}

.description i {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.description a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50px;
  background-color: lightblue;
  font-weight: 500;
  color: #36517c;
  border: 1px solid white;
  position: absolute;
  bottom: 20px;
  right: 10px;
}


.product-home:hover {
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}




.logo img {
  width: 70px;
  
}

/* index page */

.body {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(12,3,51,0.3), rgba(12,3,51,0.3));
  position: relative;
  padding: 0 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.body .content{
  text-align: center;
  
}

.content h1 {
  font-size: 160px;
  color: #fff;
  font-weight: 600;
}

.content a {
  text-decoration: none;
  display: inline-block;
  color: white;
  font-size: 24px;
  border: 2px solid #fff;
  padding: 14px 70px;
  border-radius: 50px;
  margin-top: 20px;
  
}

.back-video{
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}


.text-header {
  background: rgba(31, 58, 147,0.8);
  width: 100%;
  height: 20vh;
  background-blend-mode: darken;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}

.text-header h1{
  color: white;
  
}

#product {
  display: flex;
  margin-top: 100px;
}

#product .product-img {
  width: 40%;
  margin-right: 50px;
  
  
  
}

#product .product-info {
  width: 50%;
  padding-top: 30px;
  
}

#product .product-info h4{
  padding: 40px 0 20px 0;
}

#product .product-info h2{
  font-size: 26px;
}

#product .product-info select{
  display: block;
  padding: 5px 10px;
  margin-bottom: 10px;
}

#product .product-info input {
  width: 50px;
  height: 47px;
  padding-left: 10px;
  font-size: 16px;
  margin-right: 10px;
}

#product .product-info input:focus {
  outline: none;
}

#product .product-info .cart-button {
  background-color: #36517c ;
  border: none;
  color: white;
  padding: 10px;
}

#product .product-info p{
  line-height: 25px;
}

/* cart page */

#cart table{
  margin-top: 50px;
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  white-space: nowrap;
}

#cart table img{
  width: 70px;
}

#cart table td:nth-child(1){
  width: 100px;
  text-align: center;
}
#cart table td:nth-child(2){
  width: 150px;
  text-align: center;
}
#cart table td:nth-child(3){
  width: 250px;
  text-align: center;
}
#cart table td:nth-child(4), 
#cart table td:nth-child(5),
#cart table td:nth-child(6){
  width: 150px;
  text-align: center;
}

#cart table thead {
  border: 2px solid #36517c;
  border-left: none;
  border-right: none;
}

#cart table thead td{
  font-weight: 700;
  text-transform: uppercase;
  font-size: 13px;
  padding: 18px 0;
}

#cart table tbody tr td {
  padding-top: 15px;
}

#cart table tbody td{
  font-size: 13px;
}

#subtotal {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 50px;
  margin-right: 10%;
  
  
  
}

#subtotal table{
  border-collapse: collapse;
  width: 20%;
  margin-bottom: 20px;
}

#subtotal table td{
  width: 10%;
  border: 1px solid gainsboro;
  padding: 10px;
  font-size: 13px;
}

#subtotal h3{
  padding-bottom: 15px;
}

#subtotal .checkout-button{
  background-color: #36517c ;
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
}

#subtotal a{
  text-decoration: none;
  color: white;
}

#shipping {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
  border: 3px solid #36517c;
  border-radius: 3%;
  padding: 5%;
  
}

#shipping button{
  background-color: #36517c ;
  border: none;
  color: white;
  padding: 10px;
  
}

#shipping h1{
  border: 2px;
  text-transform: uppercase;
}

#message {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 700px;
}

/* about page */



#page-header .about-header{
  background: rgba(0,0,0,0.7) url('../images/aboutUsHeader.jpg');
  height: 20vh;
  background-blend-mode: darken;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}

#page-header .about-header h2{
  color: white;
}

#page-header .about-header p{
  color: white;
}

#about-head {
  display: flex;
  align-items: center;
}

#about-head img {
  width: 100%;
  height: auto;
}

#about-head div{
  margin-top: 50px;
  padding-left: 40px;
}

@media (max-width:799px) {
  #navbar{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: -300px;
    height: 100vh;
    width: 300px;
    background-color: white;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.06);
    padding: 80px 0 0 10px

  }
  
  #navbar li {
    margin-bottom: 25px;
    text-decoration: none;
  }
  #mobile {
    display: flex;
    align-items: center;
  }

  #mobile i {
    color: black;
    font-size: 24px;
    padding-left: 20px;
  }

}

@media (min-aspect-ratio: 16/9){
  .back-video{
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9){
  .back-video{
    width: auto;
    height: 100%;
  }
}